<template name="nav">
  <div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">test-accounts-meld</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <p class="navbar-text">
            View it on <a href="https://github.com/splendido/test-accounts-meld" class="navbar-link">GitHub</a> or <a href="https://atmospherejs.com/package/accounts-meld" class="navbar-link">Atmosphere</a>
          </p>
        </li>
        <li> {{> atNavButton}} </li>
      </ul>
    </div>
  </div>
</template>
